// recompile command (in git bash folder):
//sass.bat css/base.scss css/base.css

@import "_normalize.scss";

// vars

// elements
#showInterviewsPage {
	* {
		font-family: "Verdana", sans-serif;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
	div, span, button, ul {
		margin: 16px;
	}
}
ul {
	list-style: none;
	li {
		margin-bottom: 10px;
	}
}
h1 {
	font-size: 48px;
	font-weight: 500;
}
span.interviewLabel {
	color: #A8A8A8;
	font-size: 18px;
	font-weight: 400px;
}
button {
	border: none;
	padding: 16px 24px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	background-color: #737373;
	color: white;
}
button.disabled {
	opacity: 0.3;
}
button:hover:not(.disabled) {
	border: none;
	background-color: #919191;
}
button.interviewSelector {
	border: none;
	width: 12em;
}
button.interviewSelector:focus {
	border: none;
	background-color: #0086FF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}