body > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  color: #5A5A5A;
}
body > div * {
  font-family: "Verdana", sans-serif;
}
body > div div, body > div span, body > div button, body > div ol {
  margin: 16px;
}

#interviewTest, #interviewResults, #error {
  display: none;
}

table {
  border-collapse: collapse;
}

table, th, td {
  text-align: left;
}

th, td {
  padding: 16px;
}

tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

ol {
  list-style: none;
  padding: 0px;
}
ol li {
  padding: 16px 32px;
  font-size: 32px;
  font-weight: 450;
  border: 2px solid #88D6FF;
  border-radius: 5px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
}

span.interviewLabel {
  color: #A8A8A8;
  font-size: 18px;
}

span.loadText {
  color: #A8A8A8;
  font-weight: 450;
  font-size: 36px;
  margin-bottom: 50px;
}

div#interviewProgress {
	text-align: center;
	color: #aaa;
}
div#progress_meter {
	display: flex;
	flex-direction: row;
	justify-content: space-around
}
div#progress_meter img {
	padding: 0px 4px;
}

div#questionNote {
	background-color: #afdfff6f;
	padding: 16px;
	margin: 0px 0px 16px 0px;
}

div#questionNote span {
}

.question {
  font-size: 32px;
  text-align: center;
  width: 66%;
  margin-bottom: 50px;
}

#missingInterviewsNote {
  margin-top: 40px;
  padding: 20px 150px;
  border: 1px dotted #A8A8A8;
}

button {
  border: none;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  background-color: #737373;
  color: white;
}

button:hover:not(.disabled) {
  background-color: #0066DF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

button.disabled {
  opacity: 0.3;
}

button.completed, button.completed:hover, button.completed:focus {
  background-color: #00D626;
}

.interviewSelector:not(.completed) {
  width: 12em;
  background-color: #888888;
}

.answerSelector.selected {
	background-color: #00D626;
}

.answerSelector {
  width: 18rem;
  background-color: #888888;
}

.interviewSelector:focus:not(.completed), .answerSelector:focus, .answerSelector.selected {
  background-color: #0086FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.submitAnswer, #interviewResults > button:last-child {
  margin-top: 16px;
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
	body > div {
		margin-top: 16px;
	}
	
	.answerSelector {
		width: 60%;
		margin: 8px;
	}
	
	h1 {
		width: 80%;
	}
	
	oli, li, h1, .question {
		font-size: 24px;
	}
	
	.question {
		margin-bottom: 16px;
	}
	
	#interviewResults > div {
		width: 100%;
	}
}