// recompile command (in git bash folder):
//sass.bat css/base.scss css/base.css

@import "_normalize.scss";

// vars

// divs/structure
body > div {
	* {
		font-family: "Verdana", sans-serif;
		// font-weight: 400;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
	div, span, button, ul {
		margin: 16px;
	}
	color: #5A5A5A;
}
#interviewTest, #interviewResults, #error {
	display: none;
}
table {
	border-collapse: collapse;
}
table, th, td, {
	text-align: left
}
th, td {
	padding: 16px;
}
tr:not(:last-child) {
	border-bottom: 1px solid #ddd;
}
ul {
	list-style: none;
	li {
		margin-bottom: 10px;
	}
}

// test
h1 {
	font-size: 32px;
}
span.interviewLabel {
	color: #A8A8A8;
	font-size: 18px;
}
.question {
	font-size: 32px;
	text-align: center;
	width: 66%;
	margin-bottom: 50px;
}

// buttons
button {
	border: none;
	padding: 16px 24px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	background-color: #737373;
	color: white;
}
button:hover:not(.disabled) {
	background-color: #0066DF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
button.disabled {
	opacity: 0.3;
}
.interviewSelector, .answerSelector {
	width: 12em;
	background-color: #888888;
}
.interviewSelector:focus, .answerSelector:focus {
	background-color: #0086FF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.submitAnswer, #interviewResults > button:last-child {
	margin-top: 16px;
}