table#records {
	max-width: 90%;
}

table#records a {
	text-decoration: underline;
}
.dash_time_date a {
	border: 1px solid #dad55e !important;
    background: #fffa90 !important;
    color: #777620 !important;
}